apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: kongingresses.configuration.konghq.com
spec:
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          route:
            type: object
            properties:
              methods:
                type: array
                items:
                  type: string
              headers:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
              regex_priority:
                type: integer
              strip_path:
                type: boolean
              preserve_host:
                type: boolean
              path_handling:
                type: string
                enum:
                - "v0"
                - "v1"
              protocols:
                type: array
                items:
                  type: string
                  enum:
                  - http
                  - https
                  - grpc
                  - grpcs
                  - tcp
                  - tls
              https_redirect_status_code:
                type: integer
              snis:
                type: array
                items:
                  type: string
              request_buffering:
                type: boolean
              response_buffering:
                type: boolean
          proxy:
            type: object
            properties:
              protocol:
                type: string
                enum:
                - http
                - https
                - grpc
                - grpcs
                - tcp
                - tls
              path:
                type: string
                pattern: ^/.*$
              retries:
                type: integer
                minimum: 0
              connect_timeout:
                type: integer
                minimum: 0
              read_timeout:
                type: integer
                minimum: 0
              write_timeout:
                type: integer
                minimum: 0
          upstream:
            type: object
            properties:
              algorithm:
                type: string
                enum:
                - "round-robin"
                - "consistent-hashing"
                - "least-connections"
              host_header:
                type: string
              hash_on:
                type: string
              hash_on_cookie:
                type: string
              hash_on_cookie_path:
                type: string
              hash_on_header:
                type: string
              hash_fallback_header:
                type: string
              hash_fallback:
                type: string
              slots:
                type: integer
                minimum: 10
              healthchecks:
                type: object
                properties:
                  threshold:
                    type: integer
                  active:
                    type: object
                    properties:
                      concurrency:
                        type: integer
                        minimum: 1
                      timeout:
                        type: integer
                        minimum: 0
                      http_path:
                        type: string
                        pattern: ^/.*$
                      healthy: &healthy
                        type: object
                        properties:
                          http_statuses:
                            type: array
                            items:
                              type: integer
                          interval:
                            type: integer
                            minimum: 0
                          successes:
                            type: integer
                            minimum: 0
                      unhealthy: &unhealthy
                        type: object
                        properties:
                          http_failures:
                            type: integer
                            minimum: 0
                          http_statuses:
                            type: array
                            items:
                              type: integer
                          interval:
                            type: integer
                            minimum: 0
                          tcp_failures:
                            type: integer
                            minimum: 0
                          timeout:
                            type: integer
                            minimum: 0
                  passive:
                    type: object
                    properties:
                      healthy: *healthy
                      unhealthy: *unhealthy
    served: true
    storage: true
    subresources:
      status: {}
