hack/generators/controllers/networking/main.go linguist-generated=true
internal/controllers/configuration/zz_generated_controllers.go linguist-generated=true
pkg/apis/configuration/v1/zz_generated.deepcopy.go linguist-generated=true
pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go linguist-generated=true
pkg/apis/configuration/v1beta1/zz_generated.deepcopy.go linguist-generated=true
pkg/clientset/clientset.go linguist-generated=true
pkg/clientset/doc.go linguist-generated=true
pkg/clientset/fake/clientset_generated.go linguist-generated=true
pkg/clientset/fake/doc.go linguist-generated=true
pkg/clientset/fake/register.go linguist-generated=true
pkg/clientset/scheme/doc.go linguist-generated=true
pkg/clientset/scheme/register.go linguist-generated=true
pkg/clientset/typed/configuration/v1/configuration_client.go linguist-generated=true
pkg/clientset/typed/configuration/v1/doc.go linguist-generated=true
pkg/clientset/typed/configuration/v1/fake/doc.go linguist-generated=true
pkg/clientset/typed/configuration/v1/fake/fake_configuration_client.go linguist-generated=true
pkg/clientset/typed/configuration/v1/fake/fake_kongclusterplugin.go linguist-generated=true
pkg/clientset/typed/configuration/v1/fake/fake_kongconsumer.go linguist-generated=true
pkg/clientset/typed/configuration/v1/fake/fake_kongingress.go linguist-generated=true
pkg/clientset/typed/configuration/v1/fake/fake_kongplugin.go linguist-generated=true
pkg/clientset/typed/configuration/v1/generated_expansion.go linguist-generated=true
pkg/clientset/typed/configuration/v1/kongclusterplugin.go linguist-generated=true
pkg/clientset/typed/configuration/v1/kongconsumer.go linguist-generated=true
pkg/clientset/typed/configuration/v1/kongingress.go linguist-generated=true
pkg/clientset/typed/configuration/v1/kongplugin.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/configuration_client.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/doc.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/fake/doc.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/fake/fake_configuration_client.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/fake/fake_ingressclassparameters.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/generated_expansion.go linguist-generated=true
pkg/clientset/typed/configuration/v1alpha1/ingressclassparameters.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/configuration_client.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/doc.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/fake/doc.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/fake/fake_configuration_client.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/fake/fake_tcpingress.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/fake/fake_udpingress.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/generated_expansion.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/tcpingress.go linguist-generated=true
pkg/clientset/typed/configuration/v1beta1/udpingress.go linguist-generated=true
scripts/update-gitattributes.sh linguist-generated=true
