name: envtest tests

on:
  workflow_call: {}

permissions:
  contents: read

jobs:
  matrix_k8s_node_versions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      latest: ${{ steps.set-latest.outputs.latest }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: set-matrix
        run: |
          (
            echo 'matrix<<EOF'
            yq eval -o=json '.' .github/supported_k8s_node_versions.yaml
            echo 'EOF'
          ) >> "${GITHUB_OUTPUT}"
      - id: set-latest
        run: |
          (
            echo 'latest<<EOF'
            yq eval -r -o=json '. | sort | reverse | .[0]' .github/supported_k8s_node_versions.yaml
            echo 'EOF'
          ) >> "${GITHUB_OUTPUT}"
  envtest-tests:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT || 10) }}
    runs-on: ubuntu-latest
    needs:
      - matrix_k8s_node_versions
    steps:
      - name: checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: setup golang
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - uses: jdx/mise-action@5cb1df66ed5e1fb3c670ea0b62fd17a76979826a # v2.3.1
        with:
          install: false

      - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master @ 20250107
        id: license
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: run envtest tests
        env:
          GOTESTSUM_JUNITFILE: envtest-tests.xml
          TEST_KONG_ENTERPRISE: "true"
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        run: |
          VERSION="${{ needs.matrix_k8s_node_versions.outputs.latest }}"
          # Remove leading 'v'
          VERSION="${VERSION#v}"
          # Remove patch number as envtest releases are not provided for every patch version
          VERSION="${VERSION%.*}"
          echo "Cluster version: $VERSION"
          make test.envtest.pretty CLUSTER_VERSION=${VERSION}

      - name: collect test coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage-envtest
          path: coverage.envtest.out

      - name: collect test report
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: tests-report-envtest
          path: envtest-tests.xml
