name: envtest tests

on:
  workflow_call: {}

jobs:
  envtest-tests:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT) }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: setup golang
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
        with:
          go-version-file: go.mod

      - uses: jdx/mise-action@5083fe46898c414b2475087cc79da59e7da859e8 # v2
        with:
          install: false

      - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master
        id: license
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: run envtest tests
        run: make test.envtest.pretty
        env:
          GOTESTSUM_JUNITFILE: envtest-tests.xml
          TEST_KONG_ENTERPRISE: "true"
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}

      - name: collect test coverage
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        with:
          name: coverage-envtest
          path: coverage.envtest.out

      - name: collect test report
        if: always()
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
        with:
          name: tests-report-envtest
          path: envtest-tests.xml
