name: integration tests

on:
  workflow_call:
    inputs:
      kong-container-repo:
        type: string
        default: "kong/kong"
        required: false
      kong-container-tag:
        type: string
        # TODO: Consider changing to "kong:latest"
        # See https://github.com/Kong/kubernetes-testing-framework/issues/542
        default: "3.4"
        required: false
      kong-oss-effective-version:
        # specifies effective semver of Kong gateway OSS when tag is not a valid semver (like 'nightly').
        type: string
        default: ""
        required: false
      kong-enterprise-container-repo:
        type: string
        default: "kong/kong-gateway"
        required: false
      kong-enterprise-container-tag:
        type: string
        # TODO: Consider changing to "kong/kong-gateway:latest"
        # See https://github.com/Kong/kubernetes-testing-framework/issues/542
        default: "3.4"
        required: false
      kong-enterprise-effective-version:
        # specifies effective semver of Kong gateway enterprise when tag is not a valid semver (like 'nightly').
        type: string
        default: ""
        required: false
      log-output-file:
        # specifies the file for KIC manager's logs to output to.
        type: string
        default: ""
        required: false

jobs:
  integration-tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    env:
      KONG_CLUSTER_VERSION: 'v1.28.0'
      TEST_KONG_ROUTER_FLAVOR: 'traditional'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: dbless
            test: dbless
          - name: postgres
            test: postgres
          - name: feature-gates
            test: dbless
            feature_gates: "GatewayAlpha=true,CombinedRoutes=false,CombinedServices=false"
          - name: dbless-knative
            test: dbless.knative
          - name: postgres-knative
            test: postgres.knative
          - name: enterprise-postgres
            test: enterprise.postgres
            enterprise: true
          - name: enterprise-dbless
            test: enterprise.dbless
            enterprise: true
          - name: dbless-traditional-compatible
            test: dbless
            router-flavor: 'traditional_compatible'
          - name: postgres-traditional-compatible
            test: postgres
            router-flavor: 'traditional_compatible'
          - name: dbless-expression-router
            test: dbless
            feature_gates: "ExpressionRoutes=true,GatewayAlpha=true"
            router-flavor: "expressions"
          - name: dbless-fill-ids
            test: dbless
            feature_gates: "GatewayAlpha=true,FillIDs=true"
          - name: postgres-fill-ids
            test: postgres
            feature_gates: "GatewayAlpha=true,FillIDs=true"
          - name: dbless-rewrite-uris
            test: dbless
            feature_gates: "GatewayAlpha=true,RewriteURIs=true"
          - name: postgres-rewrite-uris
            test: postgres
            feature_gates: "GatewayAlpha=true,RewriteURIs=true"

    steps:
      - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master @ 20250107
        id: license
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Set image of Kong
        id: set_kong_image
        run: |
          if [ "${{ matrix.enterprise }}" == "true" ]; then
            echo "TEST_KONG_IMAGE=${{ inputs.kong-enterprise-container-repo }}" >> $GITHUB_ENV
            echo "TEST_KONG_TAG=${{ inputs.kong-enterprise-container-tag }}" >> $GITHUB_ENV
            echo "TEST_KONG_EFFECTIVE_VERSION=${{ inputs.kong-enterprise-effective-version }}" >> $GITHUB_ENV
          else
            echo "TEST_KONG_IMAGE=${{ inputs.kong-container-repo }}" >> $GITHUB_ENV
            echo "TEST_KONG_TAG=${{ inputs.kong-container-tag }}" >> $GITHUB_ENV
            echo "TEST_KONG_EFFECTIVE_VERSION=${{ inputs.kong-oss-effective-version }}" >> $GITHUB_ENV
          fi

      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup golang
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: run ${{ matrix.name }}
        run: make test.integration.${{ matrix.test }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
          KONG_CONTROLLER_FEATURE_GATES: "${{ matrix.feature_gates }}"
          JUNIT_REPORT: "integration-tests-${{ matrix.name }}.xml"
          TEST_KONG_ROUTER_FLAVOR: ${{ matrix.router-flavor }}
          TEST_KONG_KIC_MANAGER_LOG_OUTPUT: ${{ inputs.log-output-file }}

      - name: run ${{ matrix.name }} - invalid config
        run: make test.integration.${{ matrix.test }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
          KONG_CONTROLLER_FEATURE_GATES: "${{ matrix.feature_gates }}"
          JUNIT_REPORT: "integration-tests-invalid-config-${{ matrix.name }}.xml"
          GOTESTFLAGS: "-run=TestIngressRecoverFromInvalidPath"
          TEST_RUN_INVALID_CONFIG_CASES: "true"
          TEST_KONG_KIC_MANAGER_LOG_OUTPUT: ${{ inputs.log-output-file }}

      - name: collect test coverage
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage.*.out

      - name: upload diagnostics
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        with:
          name: diagnostics-integration-tests-${{ matrix.name }}
          path: /tmp/ktf-diag*
          if-no-files-found: ignore
      
      # upload logs when test failed
      - name: upload KIC logs 
        if: ${{ failure() && inputs.log-output-file != '' }}
        uses: actions/upload-artifact@v3
        with: 
          name: integration-tests-kic-logs-${{ matrix.name }}
          path: ${{ inputs.log-output-file }}
          if-no-files-found: ignore

      - name: collect test report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v3
        with:
          name: tests-report
          path: integration-tests-${{ matrix.name }}.xml
