name: check fixed issues references (nightly)

on:
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch: {}

jobs:
    check_issues_state:
      runs-on: ubuntu-latest
      env:
        GH_TOKEN: ${{ secrets.K8S_TEAM_BOT_GH_PAT }}
      steps:
        - name: checkout repository
          uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
          with:
            fetch-depth: 0
        - name: check issues
          run: ./hack/check_fixed_issues_references.sh
            
    notify-on-slack:
      runs-on: ubuntu-latest
      needs:
        - check_issues_state
      if: always() && contains(needs.*.result, 'failure') && github.event_name == 'schedule'
      steps:
        - name: Notify on Slack for failures of checking issues state run automatically at night
          uses: 8398a7/action-slack@28ba43ae48961b90635b50953d216767a6bea486 # v3
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          with:
            # Since notify-on-slack is triggered on failure (if statement), we can hardcode this.
            status: failure
            fields: repo,message,commit,author,action,eventName,ref,workflow
            text: ':github: Some references to fixed issues exist in the codebase.'
