name: cleanup

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: {}

jobs:
  gcloud:
    environment: gcloud
    runs-on: ubuntu-latest
    steps:
      - name: setup golang
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - name: cache go modules
        uses: actions/cache@v2.1.7
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-codegen-

      - name: checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: cleanup orphaned test clusters
        run: go run hack/e2e/cluster/cleanup/main.go all
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
          GOOGLE_LOCATION: ${{ secrets.GOOGLE_LOCATION }}
