name: e2e tests

on:
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch: {}

jobs:
  setup-e2e-tests:
    runs-on: ubuntu-latest
    outputs:
      test_names: ${{ steps.set_test_names.outputs.test_names }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - id: set_test_names
        name: Set test names
        working-directory: test/e2e/
        # grep magic described in https://unix.stackexchange.com/a/13472
        # sed to add the extra $ is because some of our test names overlap. we need it so the -run regex only matches one test
        run: |
          echo "test_names=$(grep -shoP "(?<=^func )(Test[a-zA-z_0-9]+)(?=\(t \*testing.T\) {)" * | sed -e "s/$/\$/"| jq -R . | jq -cs .)" >> $GITHUB_OUTPUT
      - name: Print test names
        run: echo "Test names ${{ steps.set_test_names.outputs.test_names }}"
  e2e-tests:
    runs-on: ubuntu-latest
    needs: setup-e2e-tests
    strategy:
      fail-fast: false
      matrix:
        kubernetes-version:
          - 'v1.21.14'
          - 'v1.22.15'
          - 'v1.23.13'
          - 'v1.24.7'
          - 'v1.25.3'
          - 'v1.26.0'
        test: ${{ fromJSON(needs.setup-e2e-tests.outputs.test_names) }}
    steps:
    - name: setup golang
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@f4b3439a656ba812b8cb417d2d49f9c810103092 # v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0

    - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master
      id: license
      with:
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run ${{ matrix.test }} - ${{ matrix.kubernetes-version }}
      run: make test.e2e
      env:
        TEST_KONG_CONTROLLER_IMAGE_OVERRIDE: "kong/nightly-ingress-controller:nightly"
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ matrix.kubernetes-version }}
        E2E_TEST_RUN: ${{ matrix.test }}
        NCPU: 1 # it was found that github actions (specifically) did not seem to perform well when spawning
                # multiple kind clusters within a single job, so only 1 is allowed at a time.
        GOTESTSUM_JUNITFILE: "e2e-${{ matrix.kubernetes-version }}-tests.xml"

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: diagnostics-e2e-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore

    - name: collect test report
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: tests-report
        path: e2e-${{ matrix.kubernetes-version }}-tests.xml

  istio-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kubernetes-version:
          # v1.25 is the latest Kubernetes version supported by Istio: https://istio.io/latest/docs/releases/supported-releases/
          - 'v1.25.3'
          - 'v1.24.7'
        istio-version:
          - 'v1.16.1'
          - 'v1.15.4'
          - 'v1.14.6'
        exclude:
          # Istio v1.14 does not support Kubernetes v1.25: https://istio.io/latest/docs/releases/supported-releases/
          - kubernetes-version: 'v1.25.3'
            istio-version: 'v1.14.6'

    steps:
    - name: setup golang
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@f4b3439a656ba812b8cb417d2d49f9c810103092 # v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0

    - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master
      id: license
      with:
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run Istio tests
      run: make test.istio
      env:
        TEST_KONG_CONTROLLER_IMAGE_OVERRIDE: "kong/nightly-ingress-controller:nightly"
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ matrix.kubernetes-version }}
        ISTIO_VERSION: ${{ matrix.istio-version }}
        NCPU: 1 # it was found that github actions (specifically) did not seem to perform well when spawning
                # multiple kind clusters within a single job, so only 1 is allowed at a time.
        GOTESTSUM_JUNITFILE: "istio-${{ matrix.kubernetes-version }}-${{ matrix.istio-version }}-tests.xml"

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: diagnostics-e2e-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore

    - name: collect test report
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: tests-report
        path: istio-${{ matrix.kubernetes-version }}-${{ matrix.istio-version }}-tests.xml

  e2e-gke-tests:
    environment: "gcloud"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kubernetes-version: # the GKE setup script ignores the patch version here and uses the latest, but we still include it for consistency with the other E2E jobs
          - 'v1.24.7'
    steps:
    - name: setup golang
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@f4b3439a656ba812b8cb417d2d49f9c810103092 # v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0

    - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master
      id: license
      with:
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run ${{ matrix.kubernetes-version }}
      run: make test.e2e.gke
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
        GOOGLE_LOCATION: ${{ secrets.GOOGLE_LOCATION }}
        KONG_CLUSTER_VERSION: ${{ matrix.kubernetes-version }}
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        GOTESTSUM_JUNITFILE: "gke-${{ matrix.kubernetes-version }}-tests.xml"

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: diagnostics-e2e-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore
    
    - name: collect test report
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: tests-report
        path: gke-${{ matrix.kubernetes-version }}-tests.xml

  buildpulse-report:
    needs:
      - "e2e-tests"
      - "e2e-gke-tests"
      - "istio-tests"
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:

      - name: checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          fetch-depth: 0

      - name: download tests report
        id: download-coverage
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3
        with:
          name: tests-report
          path: report

      - name: Upload test results to BuildPulse for flaky test detection
        if: ${{ !cancelled() }}
        uses: Workshop64/buildpulse-action@43cb4e7429b9a6d8f882d188062573b7c937de14 # main
        with:
          account: 962416
          repository: 127765544
          path: report/*.xml
          key: ${{ secrets.BUILDPULSE_ACCESS_KEY_ID }}
          secret: ${{ secrets.BUILDPULSE_SECRET_ACCESS_KEY }}
