name: e2e tests

on:
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch: {}

jobs:
  e2e-tests:
    environment: "Configure ci"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes-version:
          - 'v1.21.2'
          - 'v1.22.0'
        istio-version:
          - 'v1.11.4'
          - 'v1.10.5'
          - 'v1.9.9'
    steps:
    - name: setup golang
      uses: actions/setup-go@bfdd3570ce990073878bf10f6b2d79082de49492 # v2
      with:
        go-version: '^1.17'

    - name: cache go modules
      uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed # v2.1.7
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      with:
        fetch-depth: 0

    - name: run e2e tests
      run: make test.e2e
      env:
        KONG_LICENSE_DATA: ${{ secrets.KONG_LICENSE_DATA }}
        KONG_CLUSTER_VERSION: ${{ matrix.kubernetes_version }}
        ISTIO_VERSION: ${{ matrix.istio_version }}
        NCPU: 1 # it was found that github actions (specifically) did not seem to perform well when spawning
                # multiple kind clusters within a single job, so only 1 is allowed at a time.
