name: e2e tests (nightly)

on:
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch: {}

jobs:
  e2e-tests:
    uses: ./.github/workflows/_e2e_tests.yaml
    secrets: inherit
    with:
      kic-image: kong/nightly-ingress-controller:nightly
      all-supported-k8s-versions: true
      run-gke: true
      run-istio: true

  e2e-tests-unreleased-kong:
    uses: ./.github/workflows/_e2e_tests.yaml
    secrets: inherit
    with:
      kic-image: kong/nightly-ingress-controller:nightly
      # TODO: Previously we've used kong/kong:amd64-latest but that image reports
      # its version (through AdminAPI / endpoint) as SHA instead of a semver.
      # This breaks KIC's Admin root configuration verification on startup.
      # To unblock this, we're switching to kong/kong-gateway-dev:nightly because
      # it reports the next release to be released as semver in the version field.
      # ref: https://github.com/Kong/kubernetes-ingress-controller/issues/4014
      kong-image: kong/kong-gateway-dev:nightly
      all-supported-k8s-versions: false
      run-gke: false
      run-istio: false

  test-reports:
    needs: e2e-tests
    uses: ./.github/workflows/_test_reports.yaml
    secrets: inherit
    with:
      coverage: false # E2E tests do not generate coverage reports

  notify-on-slack:
    runs-on: ubuntu-latest
    needs:
      - e2e-tests
      - e2e-tests-unreleased-kong
      - test-reports
    steps:
      - name: Notify on Slack for failures of e2e tests run automatically at night
        if: always() && contains(needs.*.result, 'failure') && github.event_name == 'schedule'
        uses: 8398a7/action-slack@28ba43ae48961b90635b50953d216767a6bea486 # v3
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow
          text: 'E2E tests failed for nightly run, please check why.'
