name: e2e tests (targeted)

on:
  workflow_dispatch:
    inputs:
      kubernetes-version:
        description: 'Kubernetes version to test with'
        required: true
        default: 'v1.23.1'
      istio-version:
        description: 'Istio version to test with'
        required: true
        default: 'v1.12.2'
      controller-image:
        description: 'KIC Docker image to test with. The default "kong/kubernetes-ingress-controller:ci" builds an image from the dispatch branch'
        required: true
        default: 'kong/kubernetes-ingress-controller:ci'
      include-integration:
        description: 'Set to "true" to run integration tests also'
        required: true
        default: 'false'

jobs:
  e2e-tests:
    environment: "Configure ci"
    runs-on: ubuntu-latest
    steps:
    - name: setup golang
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@f4b3439a656ba812b8cb417d2d49f9c810103092 # v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0

    - name: Set up QEMU
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2

    - name: Set up Docker Buildx
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2
      with:
        driver-opts: network=host

    - name: Build and push to local registry
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      id: docker_build
      uses: docker/build-push-action@1104d471370f9806843c095c1db02b5a90c5f8b6 # v3
      with:
        context: .
        load: true
        file: Dockerfile
        tags: kong/kubernetes-ingress-controller:ci
        target: distroless

    - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master
      id: license
      with:
        # PULP_PASSWORD secret is set in "Configure ci" environment
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run e2e tests
      run: make test.e2e
      if: ${{ github.event.inputs.controller-image != 'kong/kubernetes-ingress-controller:ci' }}
      env:
        TEST_KONG_CONTROLLER_IMAGE_OVERRIDE: ${{ github.event.inputs.controller-image }}
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ github.event.inputs.kubernetes-version }}
        ISTIO_VERSION: ${{ github.event.inputs.istio-version }}
        NCPU: 1 # it was found that github actions (specifically) did not seem to perform well when spawning
                # multiple kind clusters within a single job, so only 1 is allowed at a time.

    - name: run e2e tests (local image)
      run: make test.e2e
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      env:
        TEST_KONG_CONTROLLER_IMAGE_LOAD: ${{ github.event.inputs.controller-image }}
        TEST_KONG_CONTROLLER_IMAGE_OVERRIDE: ${{ github.event.inputs.controller-image }}
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ github.event.inputs.kubernetes-version }}
        ISTIO_VERSION: ${{ github.event.inputs.istio-version }}
        NCPU: 1

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: diagnostics-e2e-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore

  integration-tests:
    if: ${{ github.event.inputs.include-integration == 'true' }}
    environment: "Configure ci"
    runs-on: ubuntu-latest
    steps:
    - name: setup golang
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@f4b3439a656ba812b8cb417d2d49f9c810103092 # v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0

    - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master
      id: license
      with:
        # PULP_PASSWORD secret is set in "Configure ci" environment
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run integration tests
      run: make test.integration
      env:
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ github.event.inputs.kubernetes-version }}

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # v3
      with:
        name: diagnostics-integration-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore
