name: trigger e2e (targeted) on label

on:
  pull_request:
    types:
    - labeled

jobs:
  trigger-e2e-tests-targeted:
    if: contains(github.event.*.labels.*.name, 'ci/run-e2e')

    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.K8S_TEAM_BOT_GH_PAT }}
      WORKFLOW: .github/workflows/e2e_targeted.yaml
      BRANCH: ${{ github.event.pull_request.head.ref }}
      PR_NUMBER: ${{ github.event.pull_request.number }}

    steps:
    - uses: actions/checkout@v3
    - run: |
        gh workflow run ${WORKFLOW} --ref ${BRANCH} \
          -f run-gke=true \
          -f run-istio=true \
          -f all-supported-k8s-versions=true \
          -f pr-number=${PR_NUMBER}
    - run: gh pr edit ${PR_NUMBER} --remove-label ci/run-e2e
