name: e2e tests (targeted)

on:
  workflow_dispatch:
    inputs:
      kubernetes-version:
        description: 'Kubernetes version to test with'
        required: true
        default: 'v1.23.1'
      istio-version:
        description: 'Istio version to test with'
        required: true
        default: 'v1.15.1'
      controller-image:
        description: 'KIC Docker image to test with. The default "kong/kubernetes-ingress-controller:ci" builds an image from the dispatch branch'
        required: true
        default: 'kong/kubernetes-ingress-controller:ci'
      include-integration:
        description: 'Set to "true" to run integration tests also'
        required: true
        default: 'false'

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: setup golang
      uses: actions/setup-go@v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: Set up QEMU
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      uses: docker/setup-buildx-action@v2
      with:
        driver-opts: network=host

    - name: Build and push to local registry
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      id: docker_build
      uses: docker/build-push-action@v4
      with:
        context: .
        load: true
        file: Dockerfile
        tags: kong/kubernetes-ingress-controller:ci
        target: distroless

    - uses: Kong/kong-license@master
      id: license
      with:
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run e2e tests
      run: make test.e2e
      if: ${{ github.event.inputs.controller-image != 'kong/kubernetes-ingress-controller:ci' }}
      env:
        TEST_KONG_CONTROLLER_IMAGE_OVERRIDE: ${{ github.event.inputs.controller-image }}
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ github.event.inputs.kubernetes-version }}
        ISTIO_VERSION: ${{ github.event.inputs.istio-version }}
        NCPU: 1 # it was found that github actions (specifically) did not seem to perform well when spawning
                # multiple kind clusters within a single job, so only 1 is allowed at a time.

    - name: run e2e tests (local image)
      run: make test.e2e
      if: ${{ github.event.inputs.controller-image == 'kong/kubernetes-ingress-controller:ci' }}
      env:
        TEST_KONG_CONTROLLER_IMAGE_LOAD: ${{ github.event.inputs.controller-image }}
        TEST_KONG_CONTROLLER_IMAGE_OVERRIDE: ${{ github.event.inputs.controller-image }}
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ github.event.inputs.kubernetes-version }}
        ISTIO_VERSION: ${{ github.event.inputs.istio-version }}
        NCPU: 1

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: diagnostics-e2e-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore

  integration-tests:
    if: ${{ github.event.inputs.include-integration == 'true' }}
    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: setup golang
      uses: actions/setup-go@v3
      with:
        go-version: '^1.19'

    - name: cache go modules
      uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - uses: Kong/kong-license@master
      id: license
      with:
        password: ${{ secrets.PULP_PASSWORD }}

    - name: run integration tests
      run: make test.integration
      env:
        KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        KONG_CLUSTER_VERSION: ${{ github.event.inputs.kubernetes-version }}

    - name: upload diagnostics
      if: ${{ always() }}
      uses: actions/upload-artifact@v3
      with:
        name: diagnostics-integration-tests
        path: /tmp/ktf-diag*
        if-no-files-found: ignore
