name: 'Check for license changes'

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  licenses:
    if: "!contains(github.event.pull_request.labels.*.name, 'ci/license/changed')"
    env:
      GOPATH: ${{ github.workspace }}
      GOBIN: ${{ github.workspace }}/bin
    runs-on: ubuntu-latest
    steps:
    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'
    - name: Install go-licenses
      run: go get github.com/google/go-licenses
    - name: Checkout target
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.base.ref }}
        path: ./src
        fetch-depth: 0
    - name: Generate target license report
      run: go-licenses csv ./... | grep -vE "github.com/kong|golang.org/x" | sort > ${{ github.workspace }}/target_licenses.csv
      working-directory: ./src
    - name: Checkout PR
      uses: actions/checkout@v2
      with:
        path: ./pr
        ref: ${{ github.head_ref }}
        repository: ${{ github.repository }}
        fetch-depth: 0
    - name: Generate PR license report
      run: go-licenses csv ./... | grep -vE "github.com/kong|golang.org/x" | sort > ${{ github.workspace }}/pr_licenses.csv
      working-directory: ./pr
    - name: Compare license reports
      id: compare_reports
      run: |
        echo 'DIFF_OUT<<EOF' >> $GITHUB_ENV
        diff -u target_licenses.csv pr_licenses.csv >> $GITHUB_ENV || true
        echo 'EOF' >> $GITHUB_ENV
    - name: Update PR - go-license output differs
      uses: actions/github-script@v4.1
      if: ${{ env.DIFF_OUT != '' }}
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Licenses differ between commit ' + context.sha + ' and base:\n```' + process.env.DIFF_OUT + '```'
            })
            github.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['ci/license/changed']
            })
    - name: Update PR - remove unchanged label
      continue-on-error: true
      uses: actions/github-script@v4.1
      if: ${{ env.DIFF_OUT != '' }}
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
            github.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: ['ci/license/unchanged']
            })
    - name: Update PR - go-license output equal
      uses: actions/github-script@v4.1
      if: ${{ env.DIFF_OUT == '' }}
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
            github.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['ci/license/unchanged']
            })

