name: PR checks
run-name: PR checks, branch:${{ github.ref_name }}, triggered by @${{ github.actor }}

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'main'
      - 'release/[0-9]+.[0-9]+.x'
    tags:
      - '**'
  workflow_dispatch: {}

jobs:
  # This job is used to check if the secrets are available. If they are not, we'll skip jobs that require them.
  should-run-with-secrets:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.check.outputs.result }}
    steps:
      - name: Check if secrets are available
        id: check
        run: |
          if [ "${{ secrets.PULP_PASSWORD }}" == "" ]; then
            echo "result=false" >> $GITHUB_OUTPUT
          else
            echo "result=true" >> $GITHUB_OUTPUT
          fi

  tools:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          fetch-depth: 0
      - name: setup golang
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4
        with:
          go-version: '^1.20'
      - run: make tools

  linters:
    uses: ./.github/workflows/_linters.yaml
    secrets: inherit

  unit-tests:
    uses: ./.github/workflows/_unit_tests.yaml
    secrets: inherit

  integration-tests:
    needs: should-run-with-secrets
    if: ${{ needs.should-run-with-secrets.outputs.result == 'true' }}
    uses: ./.github/workflows/_integration_tests.yaml
    secrets: inherit

  conformance-tests:
    uses: ./.github/workflows/_conformance_tests.yaml
    secrets: inherit

  build-docker-image:
    uses: ./.github/workflows/_docker_build.yaml
    secrets: inherit

  # We need this step to fail the workflow if any of the previous steps failed or were cancelled.
  # It allows to use this particular job as a required check for PRs.
  # Ref: https://github.com/orgs/community/discussions/26822#discussioncomment-3305794
  passed:
    runs-on: ubuntu-latest
    needs:
      - tools
      - linters
      - unit-tests
      - integration-tests
      - conformance-tests
      - build-docker-image
    if: always()
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: |
          echo "Some jobs failed or were cancelled."
          exit 1

  test-reports:
    needs:
      - should-run-with-secrets
      - unit-tests
      - integration-tests
      - conformance-tests
    if: ${{ always() && needs.should-run-with-secrets.outputs.result == 'true' }}
    uses: ./.github/workflows/_test_reports.yaml
    secrets: inherit
