# This workflow will regenerate code and manifests, commit&push them on a PR labeled with `renovate/auto-regenerate`.
# It's to make sure that Renovate-created PRs that update dependencies that might affect generated code/manifests,
# will have them regenerated automatically.
name: Regenerate on deps bump

on:
  pull_request:
    types:
      - labeled

permissions:
  contents: read

jobs:
  regenerate:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT || 10) }}
    if: contains(github.event.*.labels.*.name, 'renovate/auto-regenerate')
    runs-on: ubuntu-latest
    env:
      REF: ${{ github.event.pull_request.head.ref }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ env.ref }}
          token: ${{ secrets.K8S_TEAM_BOT_GH_PAT }}

      - name: setup golang
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
        with:
          go-version-file: go.mod

      - uses: jdx/mise-action@5083fe46898c414b2475087cc79da59e7da859e8 # v2.1.11
        with:
          install: false

      - name: regenerate
        run: make generate manifests

      - name: commit and push (if changes detected)
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          git add ./test/e2e/manifests ./config/crd
          git status
          git diff-index --quiet HEAD || \
          git commit -m "chore: regenerate" && \
          git push origin ${{ env.ref }}
