name: Create release docs PR

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The version to release (e.g. v1.2.3)'
        required: true

jobs:
  create_docs_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Parse semver string
        id: semver_parser
        uses: booxmedialtd/ws-action-parse-semver@7784200024d6b3fc01253e617ec0168daf603de3 # v1.4.7
        with:
          input_string: ${{ github.event.inputs.tag }}
          version_extractor_regex: 'v(.*)$'

      - name: Checkout KIC repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          fetch-depth: 0

      - name: Checkout docs repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          repository: kong/docs.konghq.com
          path: docs.konghq.com
          fetch-depth: 0

      - name: Generate docs
        run: |
          ./scripts/apidocs-gen/post-process-for-konghq.sh \
          docs.konghq.com/app/_src/kubernetes-ingress-controller/references/custom-resources-${{ steps.semver_parser.outputs.major }}.${{ steps.semver_parser.outputs.minor }}.x.md

      - name: Detect changes
        id: detect-changes
        run: echo "HAS_CHANGES=$(cd docs.konghq.com && git status --porcelain)" >> $GITHUB_OUTPUT

      - name: GPG sign the commits
        uses: crazy-max/ghaction-import-gpg@72b6676b71ab476b77e676928516f6982eef7a41
        with:
          workdir: docs.konghq.com
          gpg_private_key: ${{ secrets.K8S_TEAM_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.K8S_TEAM_BOT_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Create a PR in docs repo
        uses: peter-evans/create-pull-request@284f54f989303d2699d373481a0cfa13ad5a6666
        if: steps.detect-changes.outputs.HAS_CHANGES
        with:
          token: ${{ secrets.K8S_TEAM_BOT_GH_PAT }}
          title: Update docs for KIC ${{ steps.semver_parser.outputs.fullversion }}
          commit-message: Synchronize auto-generated KIC API reference
          committer: Kong's Team k8s bot <team-k8s+github-bot@konghq.com>
          author: Kong's Team k8s bot <team-k8s+github-bot@konghq.com>
          signoff: true
          path: docs.konghq.com
          base: main
          branch: kic-docs-sync
          delete-branch: true
          draft: true
          labels: |
            Kubernetes Team
            review:autodoc
          body: Prepares documentation for KIC ${{ steps.semver_parser.outputs.fullversion }} release.
