name: tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
      - 'next'
    tags:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'

    - name: Cache Go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup golangci-lint
      run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.41.1

    - name: Run golangci-lint
      run: make lint

    - name: Verify manifest consistency
      run: |
        make verify.manifests

  image-tests:
    runs-on: ubuntu-latest
    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Verify Docker Build
        uses: docker/build-push-action@v2
        with:
          push: false
          file: Dockerfile
          tags: latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

  unit-tests:
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run unit tests
      run: make test

  integration-test-dbless:
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run integration tests
      run: make test.integration.dbless

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.0.2
      with:
        flags: integration-test
        fail_ci_if_error: true

  integration-test-postgres:
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run integration tests
      run: make test.integration.postgres

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.0.2
      with:
        flags: integration-test
        fail_ci_if_error: true
