name: tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
      - 'next'
    tags:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'

    - name: Cache Go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v2
      with: 
        version: v1.41.1

    - name: Verify manifest consistency
      run: make verify.manifests

    - name: Verify generators consistency
      run: make verify.generators

  image-tests:
    runs-on: ubuntu-latest
    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Verify Docker Build
        uses: docker/build-push-action@v2
        with:
          push: false
          file: Dockerfile
          tags: latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

  unit-tests:
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run unit tests
      run: make test

    - name: collect test coverage
      uses: actions/upload-artifact@v2.2.4
      with:
        name: coverage.unit.out
        path: coverage.unit.out

  integration-tests-dbless:
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run integration tests
      run: make test.integration.dbless

    - name: collect test coverage
      uses: actions/upload-artifact@v2.2.4
      with:
        name: coverage.dbless.out
        path: coverage.dbless.out

  integration-tests-postgres:
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run integration tests
      run: make test.integration.postgres

    - name: collect test coverage
      uses: actions/upload-artifact@v2.2.4
      with:
        name: coverage.postgres.out
        path: coverage.postgres.out

  e2e-tests:
    environment: "Configure ci"
    runs-on: ubuntu-latest
    steps:

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17'

    - name: cache go modules
      uses: actions/cache@v2.1.6
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-build-codegen-

    - name: checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: run e2e tests
      run: make test.e2e
      env:
        KONG_ENTERPRISE_LICENSE_SECRET: ${{ secrets.KONG_ENTERPRISE_LICENSE_SECRET }}
        NCPU: 2 # it was found that github actions (specifically) did not seem to perform well when spawning
                # multiple kind clusters within a single job so this is hardcoded to 2 to ensure a limit of 2 clusters at any one point.

  coverage:
    environment: "Configure ci"
    needs:
      - "unit-tests"
      - "integration-tests-dbless"
      - "integration-tests-postgres"
    runs-on: ubuntu-latest
    steps:
      # TODO: deduplicate the download-artifact steps by implementing a `matrix` workflow step instead
    - name: collect unit test coverage artifacts
      id: download-unit
      uses: actions/download-artifact@v2.0.10
      with:
        name: coverage.unit.out
        path: coverage.unit.out

    - name: collect dbless test coverage artifacts
      id: download-dbless
      uses: actions/download-artifact@v2.0.10
      with:
        name: coverage.dbless.out
        path: coverage.dbless.out

    - name: collect postgres test coverage artifacts
      id: download-postgres
      uses: actions/download-artifact@v2.0.10
      with:
        name: coverage.postgres.out
        path: coverage.postgres.out

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        name: combined-coverage
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ${{steps.download-unit.outputs.download-path}}/coverage.unit.out,${{steps.download-dbless.outputs.download-path}}/coverage.dbless.out,${{steps.download-postgres.outputs.download-path}}/coverage.postgres.out
        fail_ci_if_error: true
        verbose: true
