name: "validate a Kong version (targeted)"
run-name: "validate Kong ${{ format('{0}:{1}', github.event.inputs.kong-image-repo, github.event.inputs.kong-image-tag) }}"

on:
  workflow_dispatch:
    inputs:
      kong-image-repo:
        description: Kong Gateway Docker image to test with (repository).
        type: string
        required: true
        default: "kong/kong-gateway"
      kong-image-tag:
        description: Kong Gateway Docker image to test with (tag).
        type: string
        required: true
        default: "latest"
      e2e-controller-image-repo:
        description: KIC Docker image for E2E tests (repository).
        type: string
        required: true
        default: "kong/kubernetes-ingress-controller"
      e2e-controller-image-tag:
        description: KIC Docker image for E2E tests (tag).
        type: string
        required: true
        default: "latest"
      issue-number:
        description: Issue number to post a comment in. If empty, no comment is posted.
        type: string
        required: false

jobs:
  post-comment-in-issue:
    if: ${{ github.event.inputs.issue-number != '' }}
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.K8S_TEAM_BOT_GH_PAT }}
      # URL is the current workflow's run URL.
      # Sadly this is not readily available in github's context.
      URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      ISSUE_NUMBER: ${{ github.event.inputs.issue-number }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          gh issue comment ${ISSUE_NUMBER} --body \
            "Kong Gateway validation tests were started at ${URL} with the following parameters: ${{ toJSON(github.event.inputs) }}"

  run-e2e-tests:
    if: ${{ !cancelled() }}
    uses: ./.github/workflows/_e2e_tests.yaml
    secrets: inherit
    with:
      kic-image: ${{ format('{0}:{1}', github.event.inputs.e2e-controller-image-repo, github.event.inputs.e2e-controller-image-tag) }}
      kong-image: ${{ format('{0}:{1}', github.event.inputs.kong-image-repo, github.event.inputs.kong-image-tag) }}
      load-local-image: false
      run-gke: true
      run-istio: true
      all-supported-k8s-versions: true

  run-integration-tests:
    if: ${{ !cancelled() }}
    uses: ./.github/workflows/_integration_tests.yaml
    secrets: inherit
    with:
      kong-container-repo: $ {{ github.event.inputs.kong-container-repo }}
      kong-container-tag: $ {{ github.event.inputs.kong-container-tag }}
      kong-enterprise-container-repo: $ {{ github.event.inputs.kong-container-repo }}
      kong-enterprise-container-tag: $ {{ github.event.inputs.kong-container-tag }}
